---
layout: layout
---
<!-- Main Content -->
<div class="container">
    <div class="row">
        <% if(config.sidebar == false) { %>
<!-- NO SIDEBAR -->
    <!-- Post Container -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
				<%if (page.musicid){%>
					<!-- cloud music -->
					<!-- 单曲嵌入， auto=1 可以控制自动播放与否，当值为 1 即打开网页就自动播放，值为 0 时需要访客手动点击播放 -->
					<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=100% height=86		src="//music.163.com/outchain/player?type=2&id=<%=page.musicid%>&auto=<%=page.musicauto||1%>&height=66">
					</iframe>
				<% } %>
                <%- page.content || body %>
            </div>
    <!-- Sidebar Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">

                <!-- Featured Tags -->
                <% if(config['featured-tags']) { %>
                <section>
                    <!-- no hr -->
                    <h5><a href="<%= config.root %>tags/">FEATURED TAGS</a></h5>
                    <div class="tags">
                        <% site.tags.map(function(tag){  %>
                            <% if(tag.length > config['featured-condition-size']) { %>
                            <a href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>" rel="<%= tag.length %>"><%= tag.name %></a>
                            <% } %>
                        <% }) %>
                    </div>
                </section>
                <% }%>


                <!-- Friends Blog -->
                <% if(config.friends) { %>
                <hr>
                <h5>FRIENDS</h5>
                <ul class="list-inline">

                    <% config.friends.forEach(function(friend){ %>
                        <li><a href="<%= friend.href %>"><%= friend.title %></a></li>
                    <% }); %>
                </ul>
                <% }%>
            </div>
        <%} else { %>

<!-- USE SIDEBAR -->
    <!-- Post Container -->
            <div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                post-container
            ">
				<%if (page.musicid){%>
					<!-- cloud music -->
					<!-- 单曲嵌入， auto=1 可以控制自动播放与否，当值为 1 即打开网页就自动播放，值为 0 时需要访客手动点击播放 -->
					<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=100% height=86		src="//music.163.com/outchain/player?type=2&id=<%=page.musicid%>&auto=<%=page.musicauto||1%>&height=66">
					</iframe>
				<% } %>
                <%- page.content || body %>

                <br>

                <!-- require APlayer -->
                <% if(page.aplayer) { %>
                    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10/dist/APlayer.min.css">
                    <script src="https://cdn.jsdelivr.net/npm/aplayer@1.10/dist/APlayer.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/meting@1.2/dist/Meting.min.js"></script>
                
                    <div class="aplayer"
                        data-id="<%= config['data-id'] %>"
                        data-server="<%= config['data-server'] %>"
                        data-type="<%= config['data-type'] %>"
                        data-fixed="<%= page.fixed %>" >
                    </div>
                <% } %>
            </div>

          <%- partial('_partial/sidebar') %>

        <%} %>
    </div>
</div>
